.sect-buy{
    width: 90%;
    max-width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    margin: 0 auto;
    /* border: 1px solid red; */
}

.sect-buy article img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 200px;
    height: 230px;
}

.encabezado-seccion{
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
}

.card{
    box-sizing: content-box;
    width: 200px;
    height: 350px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem auto;
}

.card div button{
    margin-top: 4px;
    box-sizing: border-box;
    width: 90%;
    padding: 4px;
    margin-bottom: 2px;
    background-color: rgba(13, 5, 54, 0.815);
    color: #ffffff;
    border-color: none;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.336);
}

.card div button:hover{
    background-color: #ffffff;
    border-color: #c9c1c1c2;
    color: rgba(9, 4, 36, 0.815);
}

.card:hover{
    transform: scale(1.1);
    transition: 0.7s;
}

/* @media (max-width: 576px) {
    .sect-buy{
        justify-content: center;
        background-color: red;
    }
    
} */

/* // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */
